doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
		link(rel='stylesheet', href='/stylesheets/blog.css')
		link(rel='stylesheet', href='/stylesheets/dropzone.css')
		
	body
		block navigation
			section.is-medium
				nav.navbar.is-fixed-top.nav-blog(role="navigation")
					div
					div.container.w48
						div.navbar-brand
							a.navbar-item(href="/blog") #{title}
						div.navbar-menu
							div.navbar-end
								a.navbar-item(href="/blog") Home
								a.navbar-item(href="/blog/about") About
		br
		br
		block content
		block footer
			div.container-is-centered.w48
				div.has-text-centered
					br
					br
					br
					a(href="/blog/admin") admin
					br
					br
		block scripts

