
extends bible-head

block content
	section.section
		div.container
			div.columns.is-centered
				div.column.is-half.is-narrow
					div.has-text-centered
						h5.title.is-5= title
						p.has-text-left= text
